/* We will assign a custom color to each section */
#section-1,
[href='#section-1'] {
	--custom-color: #5dbedd;
}

#section-2,
[href='#section-2'] {
	--custom-color: #dd635d;
}

#section-3,
[href='#section-3'] {
	--custom-color: #5ddd94;
}

#section-4,
[href='#section-4'] {
	--custom-color: #dd975d;
}

#section-5,
[href='#section-5'] {
	--custom-color: #975ddd;
}

section {
	background-color: var(--custom-color);
}

a:hover,
a:active,
a:focus {
	color: var(--custom-color);
}

/* This attribute will be added by Scroll-Reaction.js */
a[data-scroll-active] {
	/* The color depends on the variable */
	border-bottom-color: var(--custom-color);
}

@media (max-width: 800px) {
	/* The offset is calculated from the height of the navigation (see config) */
	nav {
		font-size: 0.75rem;
		height: 2.5rem;
	}
}
